<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Django-Fieldbook</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container-fluid" style="margin: 10px 100px 100px 100px">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Django-Fieldbook</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Book ID: <span style="color:greenyellow"> {{ fbuser.fieldbook_book }}</span></a></li>
                </ul>
                <form id="sheet" action="/sheet-list/" method="get" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        {%  if sheet_name %}
                            <input type="text" class="form-control" placeholder="Search a sheet" name="sheet_name" value="{{ sheet_name }}">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Search a sheet" name="sheet_name">
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="{% url 'login' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'fieldbook_registration' %}">Register</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <br />
    <div class="container-fluid" style="margin: 10x 100px 100px 100px">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script>
    $( "#sheet" ).submit(function( event ) {
        event.preventDefault();

        var url_mask = ""
        var input = $("#sheet :input[name='sheet_name']").val();
        if (input == null || input ==''){
            url_mask = "{% url 'index' %}";
        }
        else{
            url_mask = "{% url 'sheet_table' sheet_name=12345 %}".replace(/12345/, input);
        }
        location.href = url_mask;

    });

</script>

<footer class="footer">
    <div class="container">
        <p class="text-muted"><a href="https://about.me/the_sab"><img alt="@bsab" class="avatar" src="https://avatars3.githubusercontent.com/u/9799799?v=3&amp;s=40" height="20" width="20">Sab Severino</a></p>
    </div>
</footer>

</body>
</html>