<div class="card-content">
    <table id="table" class="table bordered" data-form-control="datatable">
        <thead>
        <tr>
            <th data-name="DEL" class="del"></th>
            {% for header, header_title in headers %}
                <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item, row in data %}
            <tr>
                <td><a href="{% url 'sheet_entry_delete' record_id=forloop.counter sheet_name=sheet_name %}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                {% for column_name, item in row.items %}
                    <td>
                        {% if forloop.first %}
                            <a href="{% url 'sheet_entry' record_id=forloop.parentloop.counter sheet_name=sheet_name %}">{{ item }}</a>
                        {% else %}
                            {{ item }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>

        <span class="page-links">
                {% if sheet_table_paginated.has_previous %}
                    <a href="{% url 'sheet_table' sheet_name=sheet_name %}?p={{ sheet_table_paginated.previous_page_number }}">previous</a>
                {% endif %}
            <span class="page-current">
                    Page {{ sheet_table_paginated.number }} of {{ sheet_table_paginated.paginator.num_pages }}.
                </span>
            {% if sheet_table_paginated.has_next %}
                <a href="{% url 'sheet_table' sheet_name=sheet_name %}?p={{ sheet_table_paginated.next_page_number }}">next</a>
            {% endif %}
            </span>
    </div>
</div>
