<div class="card-content">
    <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
        <thead>
        <tr>
            {% for header, header_title in headers %}
                <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item, row in data %}
            <tr>
                {% for column_name, item in row.items %}
                    <td>
                        {% if forloop.first %}
                            <a href="{% url 'sheet_entry' record_id=forloop.parentloop.counter book_name=book_name %}">{{ item }}</a>
                        {% else %}
                            {{ item }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{  page_obj }}
        <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'sheet_list' book_name=book_name %}?p={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            {% if page_obj.has_next %}
                <a href="{% url 'sheet_list' book_name=book_name %}?p={{ page_obj.next_page_number }}">next</a>
            {% endif %}
            </span>
    </div>
</div>
